body{
  padding: 0px;
  margin: 0px;
  background-color:lightgrey;
}

.app-title{
text-align: center;
color:red;
font-size: 50px;
}


.calculater-container{
  background-color:brown;
  height: 500px;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
text-align: center;
border-radius: 15px;
padding: 20px;

}
.calculator-screen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  font-size: 50px;
  border-radius: 5px;
  border: solid;
  border-color: aliceblue;
  background-color:#999999;
}
.brand-name{
  text-align: right;
  margin-right: 40px;
  font-weight: bold;
  color:white;
}

.buttons-container{
color:#fff;
margin-top: 20px;
margin-left: 30px;
margin-right: 30px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;


}

.btn{
  font-size: 40px;
  height: 60px;
  width: 78px;
  margin: 5px;
  cursor: pointer;
  color: black;

background-color: bisque;
}

  
